<div class="w-100 d-flex flex-column justify-content-center align-items-center round-shadow-sm plastic border-light">
    <table class="w-75 changing-line-height">
      <tbody>
        <tr>
           <th class="w-1fr"><span id="littlefont" class="text-center">Quality</span></th>
           <th class="w-2fr"><span id="littlefont" class="text-center">Club Names</span></th>
           <th class="w-1fr"><span id="littlefont" class="text-center">Avg.</span></th>
        </tr>
      </tbody>
   </table>
    <table class="w-75 green-screen changing-line-height text-center border-light">
        <tbody>
            <tr>
               <th class="w-1fr"><span>0</span></th>
               <th class="w-2fr"><span>No clubs available</span></th>
               <th class="w-1fr"><span>0</span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
            <tr>
               <th><span>.</span></th>
               <th><span></span></th>
               <th><span></span></th>
            </tr>
        </tbody>
    </table>
    <span class="changing-line-height">The best x of this league is y</span>
   </div>
